@import "style";

.profile {
  font-family: $maim-font;
  margin-bottom: 1.5rem;

  .profile-card {
    .avatar {
      position: relative;
      top: 2rem;
      width: 12rem;
      height: 12rem;
      overflow: hidden;
      margin: auto;
      border-radius: 50%;
      border: 1rem solid white;
      box-shadow: 0 10px 10px -13px rgba(0, 0, 0, 0.2);
      z-index: 2;

      .card-img-top {
        width: 100%;
        height: 100%;
      }
    }

    .card-body {
      text-align: center;
      padding-top: 3rem;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
      border-radius: 40px;
      background-color: #fff;

      .name {
        color: $main;
        margin-bottom: 0.5rem;
        font-size: 2rem;
      }

      .username {
        color: $cashId-color;
        margin-bottom: 0;
      }

      .join {
        color: $font-color;
        font-size: 0.8rem;
      }

      .blog-link {
        a {
          color: $priority;
          margin-bottom: 0;
          font-size: 1.2rem;
          text-decoration: underline;
        }
      }

      .card-text {
        color: $main;
      }

      .social {
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid $main;
        border-radius: 50%;
        padding-top: 0.4rem;

        i {
          color: $main;
          font-size: 1.5rem;
        }

        &:hover {
          background-color: $priority;
          border-color: $priority;

          i {
            color: $title-main;
          }
        }
      }
    }
  }

  &.public {
    margin-top: 1.5rem;

    .card-footer {
      margin-top: 1.5rem;
      padding: 0;
      border: none;
      background-color: transparent;

      .donations {
        .funded {
          width: 45%;
          color: $title-secondary;
          font-size: 1.125rem;

          p:first-child {
            font-size: 1.56rem;
          }
        }

        .goal {
          width: 45%;
          color: $font-color;
          font-size: 1.125rem;

          p:first-child {
            font-size: 1.56rem;
          }
        }
      }
    }

    @media(min-width: 990px) {
      .avatar {
        z-index: 2;
        top: calc(50% - 6rem);
        left: 2rem;
        box-shadow: 10px 0 10px -14px rgba(0, 0, 0, 0.2);
      }

      .card-body {
        padding-top: 1.25rem;
        padding-left: 4rem;

        .social-group, .bio {
          text-align: left;
        }

        .card-footer {
          width: 60%;

          .donations {
            .funded {
              width: 45%;
              color: $title-secondary;
              font-size: 1.125rem;

              p:first-child {
                font-size: 1.56rem;
              }
            }

            .goal {
              width: 45%;
              color: $font-color;
              font-size: 1.125rem;

              p:first-child {
                font-size: 1.56rem;
              }
            }
          }
        }
      }
    }
  }
}

.supporters {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  margin-bottom: 1.5rem;

  h2 {
    color: $priority;
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
  }

  .company-first-line {
    overflow: hidden;
    width: 8rem;
    height: 8rem;
    @media (max-width: 540px) {
      width: 5rem;
      height: 5rem;
    }
  }

  .company-second-line {
    overflow: hidden;
    width: 6rem;
    height: 6rem;
    @media (max-width: 540px) {
      width: 3rem;
      height: 3rem;
    }
  }

  .btn-sponsor {
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid $priority;
    border-radius: 20px;
    color: $priority;
    font-size: 1.5rem;
    padding: 0.3rem 2rem;

    &:focus {
      box-shadow: none;
    }
  }
}

.user-projects {
  font-family: $maim-font;

  h2 {
    color: $main;
    margin-bottom: 1.5rem;
  }

  .project {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 1.5rem;

    .project-img {
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 20px;
      margin-right: 1.5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .project-title {
      color: $title-secondary;
      font-size: 1.2rem;
    }

    .project-category {
      color: $title-main;
      font-size: 0.7rem;
      padding: 0.2rem;
      width: 5rem;
      background-color: $priority;
      border-radius: 20px;
      text-align: center;
    }

    .card-footer {
      padding: 0;
      border: none;
      background-color: transparent;

      .donations {
        .funded {
          color: $title-secondary;
          font-size: 0.8rem;
          padding-right: 3rem;

          p:first-child {
            font-size: 1.1rem;
          }
        }

        .goal {
          color: $font-color;
          font-size: 0.8rem;
          padding-left: 3rem;

          p:first-child {
            font-size: 1.1rem;
          }
        }
      }
    }

    .countdown-timer {
      background-color: #F7F7F7;
      border-radius: 15px;
      padding: 0.5rem;

      li {
        display: inline-block;
        font-size: 1.1rem;
        list-style-type: none;

        span {
          margin: 0 0.5rem;
          font-weight: bold;

          &.days, &.hours {
            color: $title-secondary;
          }

          &.minutes, &.seconds {
            color: $font-color;
          }
        }
      }

      p {
        color: $title-secondary;
        font-size: 1rem;
      }
    }

    .close-project {
      .btn-close {
        &:focus {
          box-shadow: none;
        }

        img {
          width: 2rem;
        }
      }
    }

    &.closed {
      .countdown-timer {
        visibility: hidden;
      }
    }
  }
}

.user-donations {
  h2 {
    color: $main;
    margin-bottom: 1.5rem;
  }

  .project-preview {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 1.5rem;

    .project-donation-img {
      height: 60px;
      width: 60px;
      overflow: hidden;
      border-radius: 10px;
      margin-right: 1.5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .project-title {
      color: $title-secondary;
      font-size: 1.2rem;
    }

    .funded {
      color: $font-color;
      font-size: 1.1rem;
    }

  }

}