@import "style";

.carousel {
  font-family: $maim-font;
  color: $title-main;
  margin-bottom: 1.5rem;

  .carousel-indicators {
    @media (max-width: 760px) {
      flex-direction: column;
      margin-right: 0;
      margin-left: 2%;
      top: 0;
      height: 100%;
    }

    li {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: $title-main;
      opacity: 1;
      margin-right: 1.2rem;
      border: none;
      @media (max-width: 760px) {
        margin-bottom: 0.7rem;
        margin-right: 0;
        width: 0.7rem;
        height: 0.7rem;
      }

      &.active {
        background-color: $main;
      }
    }
  }

  .carousel-item {
    .underlay {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      min-height: 853px;
      position: absolute;
      top: 0;
    }

    .carousel-caption {
      height: 100%;
      text-align: left;
      left: 55%;
      right: 10%;
      padding: 0;
      @media (max-width: 800px) {
        top: 0;
      }
      @media (max-width: 1100px) {
        left: 10%;
      }

      h5 {
        font-weight: bold;
        font-size: 2rem;
        @media (max-width: 380px) {
          font-size: 0.8rem;
        }
        @media (min-width: 380px) and (max-width: 600px) {
          font-size: 1rem;
        }
        @media (min-width: 600px) and (max-width: 800px) {
          font-size: 1.5rem;
        }
      }

      p {
        font-size: 1.3rem;
        @media (max-width: 380px) {
          font-size: 0.5rem;
          margin-bottom: 0.1rem;
        }
        @media (min-width: 380px) and (max-width: 600px) {
          font-size: 0.65rem;
          margin-bottom: 0.3rem;
        }
        @media (min-width: 600px) and (max-width: 800px) {
          font-size: 1rem;
        }
      }

      .btn-explore {
        color: $title-main;
        border: 1px solid $title-main;
        border-radius: 20px;
        width: 33%;
        @media (max-width: 380px) {
          font-size: 0.5rem;
          padding: 0.3rem;
        }
        @media (min-width: 380px) and (max-width: 990px) {
          font-size: 0.65rem;
          padding: 0.2rem;
        }

        &:focus {
          box-shadow: none;
        }

        &:hover {
          background-color: $priority;
          border: 1px solid $priority;
          color: $title-main;
        }
      }
    }
  }
}

.popular-campaigns {
  font-family: $maim-font;

  .campaigns-title {
    margin-bottom: 1.5rem;

    h2 {
      color: $main;
      font-size: 2.3rem;
      @media (max-width: 800px) {
        font-size: 2rem;
      }
    }

    .campaigns-category {
      .btn {
        border: 1px solid $main;
        border-radius: 30px;
        color: $main;
        font-size: 1.3rem;
        width: 12rem;
        @media (max-width: 800px) {
          font-size: 0.7rem;
        }

        &:focus {
          box-shadow: none;
        }
      }

      .dropdown-menu {
        border: 1px solid $main;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.8);

        .dropdown-item {
          color: $main;
          font-size: 1.3rem;
          background-color: transparent;

          &:hover, &:focus, &:active {
            color: #5E54A5;
            background-color: transparent;
          }

          @media (max-width: 800px) {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

.card {
  font-family: $maim-font;
  border-radius: 40px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border: none;
  position: relative;

  .card-img-top {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .card-head {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 30%;
    text-align: right;
    @media (min-width: 990px) and (max-width: 1200px) {
      height: 25%;
    }
    @media (min-width: 530px) and (max-width: 766px) {
      height: 45%;
    }
    @media (min-width: 370px) and (max-width: 530px) {
      height: 33%;
    }
    @media (max-width: 370px) {
      height: 27%;
    }
    .project-category {
      color: $title-main;
      font-size: 0.9rem;
      padding: 0.2rem;
      width: 7rem;
      background-color: $priority;
      border-radius: 20px;
      text-align: center;
    }
    .like {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: $main;
      text-align: center;
      padding-top: 0.5rem;

      .far {
        &.fa-heart {
          color: $title-main;
          font-size: 1.5rem;
        }
      }

      .fas {
        &.fa-heart {
          color: $title-main;
          font-size: 1.5rem;
        }
      }
    }

    // timer

    .countdown {
      position: relative;
      height: 40px;
      width: 40px;
      text-align: center;

      .countdown-number {
        color: white;
        display: inline-block;
        line-height: 50px;
        background-color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;

        &:before {
          content: "";
          height: 15px;
          border-right: 2px solid $title-secondary;
          border-radius: 50%;
          position: absolute;
          left: calc(50% - 2px);
          top: calc(50% - 15px);
        }

        &:after {
          content: "";
          width: 13px;
          border-bottom: 2px solid $title-secondary;
          border-radius: 50%;
          position: absolute;
          left: calc(50% - 2px);
          top: calc(50% - 2px);
        }
      }

      svg {
        position: absolute;
        top: -10px;
        right: -5px;
        width: 50px;
        height: 50px;
        transform: rotateY(-180deg) rotateZ(-90deg);

        circle {
          stroke-dasharray: 113px;
          stroke-dashoffset: 0;
          stroke-width: 10px;
          fill: none;

        }
      }

      @keyframes countdown {
        from {
          stroke-dashoffset: 0;
          stroke: #37D625;
        }
        25% {
          stroke: #d6d400;
        }
        50% {
          stroke: #d68800;
        }
        75% {
          stroke: #d65400;
        }
        to {
          stroke-dashoffset: 113px;
          stroke: red;
        }
      }
    }
  }

  .card-body {
    .card-title {
      height: 80px;
      overflow: hidden;

      .project-title {
        color: $title-secondary;
        font-size: 1.5rem;
      }

    }

    .card-text {
      color: $font-color;
      font-size: 1.15rem;
    }

    .card-footer {
      padding: 0;
      border: none;
      background-color: transparent;

      .progress-value {
        color: #9F9E9E;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 0;
      }

      .progress {
        border-radius: 10px;
        height: 1.25rem;
        background-color: #F7F7F7;

        .progress-bar {
          border-radius: 10px;
          background-color: #91EDF6;
          width: 56%;
        }
      }

      .donations {
        .funded {
          width: 45%;
          color: $title-secondary;
          font-size: 1.125rem;

          p:first-child {
            font-size: 1.56rem;
          }
        }

        .goal {
          width: 45%;
          color: $font-color;
          font-size: 1.125rem;

          p:first-child {
            font-size: 1.56rem;
          }
        }
      }
    }
  }
}

