$main: #7d73c3;
$priority: #FFCA79;
$title-main: #ffffff;
$title-secondary: #707070;
$font-color: #9F9E9E;
$body-color: rgba(156, 180, 247, 0.4);
$cashId-color: #9CB4F7;
$maim-font: open-sans, sans-serif;

.navbar {
  z-index: 5;
  background-color: $main;
  box-shadow: 0 3px 6px 0 $main;
  font-family: $maim-font;

  .navbar-brand {
    .brand-logo {
      max-width: 3.75rem;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  .navbar-nav {
    .nav-item {
      &:hover {
        transform: scale(1.1);
      }

      .nav-link {
        color: $priority;
      }

      &.start-campaign {
        border: 1px solid $priority;
        border-radius: 25px;
      }
    }
  }

  .form-inline {
    .nav-search {
      background-color: transparent;
      border: 1px solid $priority;
      border-radius: 25px;
      width: 100%;
      @media (min-width: 768px) and (max-width: 992px) {
        width: 75%;
      }

      .form-control {
        background-color: transparent;
        border: none;
        width: 80%;
        color: $priority;

        &::placeholder {
          color: $priority;
        }

        &:focus {
          box-shadow: none;
        }
      }

      .btn-search {
        .fa-search {
          color: $priority;
          font-size: 1.2rem;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .navbar-toggler {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: $priority;
    padding: 0;

    &:focus {
      outline: none;
    }

    .navbar-toggler-icon {
      background-image: url(../images/menu.svg);
    }
  }
}

.card {
  font-family: $maim-font;
  border-radius: 40px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border: none;
  position: relative;

  .card-img-top {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .card-head {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 30%;
    text-align: right;
    @media (min-width: 990px) and (max-width: 1200px) {
      height: 25%;
    }
    @media (min-width: 530px) and (max-width: 766px) {
      height: 45%;
    }
    @media (min-width: 370px) and (max-width: 530px) {
      height: 33%;
    }
    @media (max-width: 370px) {
      height: 27%;
    }
    .project-category {
      color: $title-main;
      font-size: 0.9rem;
      padding: 0.2rem;
      width: 7rem;
      background-color: $priority;
      border-radius: 20px;
      text-align: center;
    }
    .like {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: $main;
      text-align: center;
      padding-top: 0.5rem;

      .far {
        &.fa-heart {
          color: $title-main;
          font-size: 1.5rem;
        }
      }

      .fas {
        &.fa-heart {
          color: $title-main;
          font-size: 1.5rem;
        }
      }
    }

    // timer

    .countdown {
      position: relative;
      height: 40px;
      width: 40px;
      text-align: center;

      .countdown-number {
        color: white;
        display: inline-block;
        line-height: 50px;
        background-color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;

        &:before {
          content: "";
          height: 15px;
          border-right: 2px solid $title-secondary;
          border-radius: 50%;
          position: absolute;
          left: calc(50% - 2px);
          top: calc(50% - 15px);
        }

        &:after {
          content: "";
          width: 13px;
          border-bottom: 2px solid $title-secondary;
          border-radius: 50%;
          position: absolute;
          left: calc(50% - 2px);
          top: calc(50% - 2px);
        }
      }

      svg {
        position: absolute;
        top: -10px;
        right: -5px;
        width: 50px;
        height: 50px;
        transform: rotateY(-180deg) rotateZ(-90deg);

        circle {
          stroke-dasharray: 113px;
          stroke-dashoffset: 0;
          stroke-width: 10px;
          fill: none;

        }
      }

      @keyframes countdown {
        from {
          stroke-dashoffset: 0;
          stroke: #37D625;
        }
        25% {
          stroke: #d6d400;
        }
        50% {
          stroke: #d68800;
        }
        75% {
          stroke: #d65400;
        }
        to {
          stroke-dashoffset: 113px;
          stroke: red;
        }
      }
    }
  }

  .card-body {
    .card-title {
      height: 80px;
      overflow: hidden;

      .project-title {
        color: $title-secondary;
        font-size: 1.5rem;
      }

    }

    .card-text {
      color: $font-color;
      font-size: 1.15rem;
    }

    .card-footer {
      padding: 0;
      border: none;
      background-color: transparent;

      .progress-value {
        color: #9F9E9E;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 0;
      }

      .progress {
        border-radius: 10px;
        height: 1.25rem;
        background-color: #F7F7F7;

        .progress-bar {
          border-radius: 10px;
          background-color: #91EDF6;
          width: 56%;
        }
      }

      .donations {
        .funded {
          width: 45%;
          color: $title-secondary;
          font-size: 1.125rem;

          p:first-child {
            font-size: 1.56rem;
          }
        }

        .goal {
          width: 45%;
          color: $font-color;
          font-size: 1.125rem;

          p:first-child {
            font-size: 1.56rem;
          }
        }
      }
    }
  }
}

.show-more {
  font-family: $maim-font;

  .little-circle, .big-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $priority;
    display: inline-block;
    margin-right: 1rem;
  }

  .big-circle {
    height: 30px;
    width: 30px;
  }

  .btn-more {
    background-color: $priority;
    color: $title-main;
    font-size: 1.3rem;
    margin-right: 1rem;
    border-radius: 50px;
    height: 40px;
    padding: 0 1rem;

    &:focus {
      box-shadow: none;
    }
  }
}

footer {
  font-family: $maim-font;
  background-color: $main;
  padding-top: 1.5rem;
  box-shadow: 0 -2px 6px 0 $main;

  .brand {
    .brand-logo {
      max-width: 4rem;
      display: block;
      margin: auto;
    }

    .brand-name {
      margin-top: 1rem;
      color: $priority;
      font-size: 1.5rem;

      span {
        color: $title-main;
      }
    }
  }

  .footer-nav {
    li {
      list-style-type: none;

      .footer-nav-link {
        color: $priority;
        font-size: 1.2rem;
      }
    }
  }

  .btn-contact {
    color: $priority;
    font-size: 1.2rem;
    border: 1px solid $priority;
    border-radius: 30px;
    padding: 0.3rem 2.5rem;
    margin-bottom: 1.5rem;

    &:hover {
      background-color: $priority;
      color: $title-main;
    }

    &:focus {
      box-shadow: none;
    }
  }
}