$main: #7D73C3;
$priority: #FFCA79;
$title-main: #ffffff;
$title-secondary: #707070;
$font-color: #9F9E9E;
$maim-font: open-sans, sans-serif;

.navbar {
  z-index: 5;
  background-color: $main;
  box-shadow: 0 3px 10px 0 $title-secondary;
  font-family: $maim-font;

  .navbar-brand {
    .brand-logo {
      max-width: 3.75rem;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  .navbar-nav {
    .nav-item {
      &:hover {
        transform: scale(1.1);
      }

      .nav-link {
        color: $priority;
      }

      &.start-campaign {
        border: 1px solid $priority;
        border-radius: 25px;
      }
    }
  }

  .form-inline {
    .nav-search {
      background-color: transparent;
      border: 1px solid $priority;
      border-radius: 25px;
      width: 100%;
      @media (min-width: 768px) and (max-width: 992px) {
        width: 75%;
      }

      .form-control {
        background-color: transparent;
        border: none;
        width: 80%;
        color: $priority;

        &::placeholder {
          color: $priority;
        }

        &:focus {
          box-shadow: none;
        }
      }

      .btn-search {
        .fa-search {
          color: $priority;
          font-size: 1.2rem;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .navbar-toggler {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: $priority;
    padding: 0;

    &:focus {
      outline: none;
    }

    .navbar-toggler-icon {
      background-image: url(../images/menu.svg);
    }
  }
}

.show-more {
  font-family: $maim-font;
  .little-circle, .big-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $priority;
    display: inline-block;
    margin-right: 1rem;
  }
  .big-circle{
    height: 30px;
    width: 30px;
  }
  .btn-more{
    background-color: $priority;
    color: $title-main;
    font-size: 1.3rem;
    margin-right: 1rem;
    border-radius: 50px;
    height: 40px;
    padding: 0 1rem;
    &:focus{
      box-shadow: none;
    }
  }
}

footer {
  font-family: $maim-font;
  background-color: $main;
  padding-top: 1.5rem;

  .brand {
    .brand-logo {
      max-width: 4rem;
      display: block;
      margin: auto;
    }

    .brand-name {
      margin-top: 1rem;
      color: $priority;
      font-size: 1.5rem;

      span {
        color: $title-main;
      }
    }
  }

  .footer-nav {
    li{
      list-style-type: none;
      .footer-nav-link {
        color: $priority;
        font-size: 1.2rem;
      }
    }
  }

  .btn-contact{
    color: $priority;
    font-size: 1.2rem;
    border: 1px solid $priority;
    border-radius: 30px;
    padding: 0.3rem 2.5rem;
    margin-bottom: 1.5rem;
    &:hover{
      background-color: $priority;
      color: $title-main;
    }
    &:focus{
      box-shadow: none;
    }
  }
}